.sign-in {
    padding: 8px 15px;

    color: var(--text);
    background-color: var(--background);

    font-size: 12px;
    font-weight: 500;

    border-radius: 4px;
    border: 1px solid #FFFFFF;
    transition: all 0.4s ease-in-out;
}

.sign-in:hover {
    color: var(--text);
    background-color: var(--primary);
    border: 1px solid transparent;
}