.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 16px;

    border-bottom: 1px solid;
    border-color: hsla(0, 0%, 100%, 0.233);

    .list-btns {
        display: flex;
        flex-direction: row;
        justify-content: center; /* Center the items horizontally */
        align-items: center; /* Center the items vertically */
        
        margin-right: 65px;

        li {
            display: inline-block;
            margin-right: 35px;
            
            a {
                color: #FFF;
                text-decoration: none;
                margin: 0 15px; /* Adjust the margin as needed */
                padding: 10px 8px;

                border-radius: 4px;
            }

            a:hover {
                color: var(--background);
                background: var(--text);
                transition: all 0.4s ease-in-out;
            }
        }
    }
}