.main-header {
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(10px);


    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;

    border-bottom: 1px solid;
    border-color: hsla(0, 0%, 100%, 0.233);

    .logo {
        margin-left: 10px;
        color: var(--primary);
    }

    .list-btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        li {
            display: inline-block;
            margin: 10px;

            a {
                color: #fff;
                text-decoration: none;
                margin: 0 10px;
                padding: 10px 8px;
                border-radius: 4px;
            }

            a:hover {
                color: var(--text);
                background: var(--primary);
                transition: all 0.4s ease-in-out;
            }
        }
    }

    .btn-login-register {
        display: flex;
        gap: 10px;
        margin-right: 10px;
    }
}